$fontfamily: "font-family: 'Montserrat', sans-serif;";


//color
$main: #141414;
$white: #fff;
$half-main: rgba(20, 20, 20, 0.5);
$orange: #E8AA31;

//media
$laptop-L: 1440px;
$laptop-Low: 1200px;
$laptop: 992px;
$tablet: 768px;
$mobile: 576px;